---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import TeamMember from '../components/TeamMember.astro';

const current_members = await getCollection('people', ({ data }) => {
	return data.active;
});
const past_members = await getCollection('people', ({ data }) => {
	return !data.active;
});
---

<BaseLayout title="People">
	<section class="mx-auto mt-16 px-6 py-6 sm:py-8 lg:px-8">
		<h2 class="" id="people">
			Research team
		</h2>
		<ul role="list" class="mt-6 list-inside list-disc marker:text-sky-800">
			{
				current_members.map((member) => (
					<li class="py-2">
						<TeamMember person={member} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mx-auto mt-16 px-6 py-6 sm:py-8 lg:px-8">
		<h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Past members</h3>

		<ul role="list" class="mt-6 list-inside list-disc marker:text-sky-800">
			{
				past_members.map((member) => (
					<li class="py-2">
						<TeamMember person={member} />
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
