---
import Navigation from '../components/Navigation.astro';

const { currentPage } = Astro.props;
---

<header class="w-full bg-sky-800 text-slate-50 drop-shadow-xl">
	<div
		class="flex flex-col items-center px-6 sm:flex-row sm:items-center sm:justify-between lg:px-8"
	>
		<a href="/">
			<h1 class="py-2 text-6xl font-bold tracking-tighter sm:text-3xl">QEntHEP</h1>
		</a>
		<Navigation currentPage={currentPage} />
	</div>
</header>
