---
interface Props {
	text: string;
	href: string;
	currentPage?: string;
}

const { text, href, currentPage = false } = Astro.props;

const isActive = currentPage && currentPage === href;
---

<a href={href} class="hover:text-sky-200" ,>
	<span>{text}</span>
</a>
