---
import type { PublicationsListDataType } from '../content/config';

import Publication from '../components/Publication.astro';

interface Props {
	publications: PublicationsListDataType;
	decorations?: boolean;
}

const { publications, decorations = false } = Astro.props;
---

<ul role="list" class="mt-8 space-y-16">
	{
		publications.map((publication, index) =>
			decorations ? (
				<li class="relative flex gap-x-2">
					<div
						class:list={[
							'absolute left-0 bottom-0 flex w-6 justify-center',
							index == 0 ? '-top-8' : 'top-0',
						]}
					>
						<div class="w-px bg-sky-800" />
					</div>
					<div
						class:list={[
							'absolute left-0 top-0 flex w-6 justify-center',
							index == publications.length - 1 ? 'bottom-0' : '-bottom-16',
						]}
					>
						<div class="w-px bg-sky-800" />
					</div>
					<div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
						<div class="h-1.5 w-1.5 rounded-full bg-sky-800 ring-1 ring-sky-800" />
					</div>
					<Publication {publication} />
				</li>
			) : (
				<li>
					<Publication {publication} />
				</li>
			)
		)
	}
</ul>
