---
// TODO

import { Icon } from 'astro-icon/components';
// interface Props {
// 	icon: string;
// 	href: URL;
// }
// const { icon, href } = Astro.props;
---

<div class="flex items-center rounded-full border border-sky-800 leading-none drop-shadow">
	<a href="#" class="mr-1.5 rounded-full p-1 hover:bg-gray-200">
		<span class="sr-only">Twitter</span>
		<Icon name="heroicons:link-20-solid" class="h-5 w-5" />
	</a>
	<a href="#" class="mr-1.5 rounded-full p-1 hover:bg-gray-200">
		<span class="sr-only">Twitter</span>
		<Icon name="logos:twitter" class="h-5 w-5" />
	</a>
	<button class="flex cursor-default items-center rounded-full bg-sky-800 px-4 py-1 text-white">
		<Icon name="heroicons:share" class="h-5 w-5" />
		<span class="pl-2"> Share</span>
	</button>
</div>
