---
import type { CollectionEntry } from 'astro:content';

interface Props {
	person: CollectionEntry<'people'>;
}

const { person } = Astro.props;
---

<div class="inline-flex flex-col">
	<p class="text-lg font-medium text-gray-900">{person.data.name}</p>
	<p class="truncate text-sm text-gray-500">{person.data.role}</p>
</div>
